* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.navbar {
  background-color: #7f7f7f;
  font-family: "inter";
  font-weight: bold;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding-bottom: 80px; */
  align-items: center;
  padding: 20px;
  color: white;
  margin: 0px;
}

.calc {
  font-size: medium;
}

.center {
  background-color: #192734;
  border-radius: 12px;
  margin: 300px;
  /* padding-top: 200px;
  padding-bottom: 200px; */
  /* text-align: center; */
  font-family: "inter";
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
